body {
	background-image: url("https://i.imgur.com/Uoi47m1.png");
}


ul {
	list-style-type: none;
	background-color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 80px;
	
}

li {
	float: right;
	background-color: white;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}



.name {
	position: absolute;
	color: white;
	background-color: #4aaaa5;
	float: left;
	padding-top: 1.1%;
	padding-bottom: 1%;
	top: -1.5%;
	left: 10%
	
}

.aboutme {
	position: absolute;
	background-color: white;
	width: 500px;
	height: 400px;
	left: 10%;
	top: 30%;
}

.about {
	position: absolute;
	bottom: 10px;
}

.profilepic {
	position: absolute;
	height: 200px;
	width: 200px;
	left: 15%;
	top: 50%;

}

.connect {
	position: absolute;
	background-color: white;
	width: 270px;
	height: 200px;
	right: 10%;

}

.img {
	position: relative;
	width: 50px;
	height: 50px;
	right: 15%;
	float: right;
	
}


