body {
	background-image: url("https://i.imgur.com/Uoi47m1.png");
}


ul {
	list-style-type: none;
	background-color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 80px;
	margin-right: 15%;
	
}

li {
	float: right;
	background-color: WHITE;
}

li a {
	position: relative;
	display: block;
	color: BLACK;
	text-align: center;
	padding-top: 26px;
	padding-right: 25px;
	text-decoration: none;
}


.name {
	background-color: #4AAAA5;
	color: WHITE;
	font-weight: bold;
	font-size: 20px;
	vertical-align: middle;
	float: left;
	line-height: 80px;
	padding: 0 1rem;
	margin-left: 15%;
	
}

.aboutme {
	border: solid gray;
	position: absolute;
	background-color: white;
	width: 500px;
	height: 400px;
	left: 20%;
	top: 15%;
	text-align: center;
	padding: 0;
}

.profilepic {
	border: solid gray;
	position: absolute;
	height: 200px;
	width: 200px;
	left: 10%;
	top: 28%;

}

.about {
	position: absolute;
	background-color: WHITE;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	right: 25px;
	
}

/*
.connect {
	position: absolute;
	border: solid gray;
	background-color: white;
	width: 250px;
	height: 180px;
	padding-top: 20px;
	padding-left: 25px;
	right: 20%;
	top: 18%;

}
*/

.connect {
	border: solid gray;
	background-color: white;
	float: right;
	margin-right: 30%;
	margin-top: 5%;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-top: 5%;
	padding-bottom: 5%;
}

.img {
	position: relative;	
	width: 50px;
	height: 50px;
	bottom: -35%;
	float: right;

}

.copyright {
	position: absolute;
	background-color: WHITE;
	text-align: center;
	height: 40px;
	bottom: 1%;
	padding-left: 47%;
	padding-right: 45%;
	padding-top: 1%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;





	
}
