body {
	background-image: url("https://i.imgur.com/Uoi47m1.png");
}

ul {
	list-style-type: none;
	background-color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 80px;
}

li {
	float: right;
	background-color: white;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
